.App{
  text-align: center;
}

.App__buttonType{
  margin-left: 95px;
  margin-right: 95px;
  margin-bottom: 20px;
}

.App__buttonType button {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.App__buttonType button:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.75s;
}

.App__buttonType--normal {
  background-color: darkgrey;
}

.App__buttonType--fighting {
  background-color: brown;
}

.App__buttonType--fire {
  background-color: red;
}

.App__buttonType--water {
  background-color: lightskyblue;
}

.App__buttonType--flying {
  background-color: rgb(0, 114, 114);
}

.App__buttonType--poison {
  background-color: purple;
}

.App__buttonType--grass {
  background-color: forestgreen;
}

.App__buttonType--ground {
  background-color: gold;
}

.App__buttonType--rock {
  background-color: gray;
}

.App__buttonType--bug {
  background-color: greenyellow;
}

.App__buttonType--ghost {
  background-color: lightpink;
}

.App__buttonType--steel {
  background-color: plum;
}

.App__buttonType--fairy {
  background-color: palevioletred;
}

.App__buttonType--electric {
  background-color: darkslategray;
}

.App__buttonType--psychic {
  background-color: darkorange;
}

.App__buttonType--ice {
  background-color: darkcyan;
}

.App__buttonType--dragon {
  background-color: darkmagenta;
}

.App__buttonType--unknown {
  background-color: black;
}

.App__buttonType--dark {
  background-color: darkred;
}

.App__buttonType--shadow {
  background-color: blue;
}